@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
    
    --color-primary: hsl(214, 100%, 50%);
    --color-background:hsl(213.3 100% 98.24%);
    --text-color-ligth: hsl(240, 10%, 3.92%);

    --color-background-dark: hsl(240, 10%, 3.92%);
    --text-color-dark: hsl(213.3 100% 98.24%);
}

@layer base {
    .bg-apple-gradient {
        @apply bg-gradient-to-r from-blue-400 via-purple-400 to-pink-500;
    }
    .text-apple-gradient {
        @apply text-transparent bg-clip-text bg-gradient-to-r from-blue-400 via-purple-400 to-pink-500;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
      }

    .no-scrollbar {
        -ms-overflow-style: none; 
        scrollbar-width: none;    
    }
}
